.epic {
  padding: 4px 8px;
  /*border-radius: 3px;*/
  flex: 1 0 200px;
}

.epic:nth-child(even) {
  background-color: #efefef;
  background-color: #E8E9F3;

  box-shadow: 0 -1px 1px rgba(0,0,0,.4) inset;
}

