.epic {
  padding: 8px 8px 10px 8px;
  /*border-radius: 3px;*/
  /*flex: 1 0 200px;*/
  margin: 0 3px;

  /*background-color: #efefef;*/
  /*background-color: #f7f7f7;*/
/*background: rgba(0, 0, 0, .02);*/


  box-shadow: 0 -1px 1px rgba(0,0,0, .4) inset;

  border-right: 1px solid rgba(39, 38, 53, 0.1);

  /*background: white;*/
  /*border-radius: 5px;*/
  /*box-shadow: 0 2px 4px rgba(0,0,0,.2)*/

  flex-grow: 1;
  flex-shrink: 0;
  width: 220px;
  max-width: 420px;
}

.epic:nth-child(even) {
  /*!*background-color: #efefef;*!*/
  /*background-color: #E8E9F3;*/

  /*box-shadow: 0 -1px 1px rgba(0,0,0,.4) inset;*/
}

.todo {
  background: #f0f1f5;
}

.doing {
  background: #fff;
}

.done {
  background: rgba(217, 250, 217, 0.6);
  /*background: #f1fef5;  !*colour from clubhouse*!*/
}

.stories {
  height: 100%;
}

.isOver {
  background: rgba(0, 0, 0, .1);
}
