.story {
  font-size: 0.9rem;
  line-height: 1.3rem;
  min-width: 200px;

  background-color: #E8E9F3;
  background-color: #B1E5F2;
  padding: 8px 10px;
  margin: 0 0 10px 0;

  box-shadow: 0 -1px 1px rgba(0,0,0,.2) inset;

}

.done {
  opacity: 0.5;
}
