.story {
  font-size: 0.8rem;
  line-height: 1rem;
  min-width: 200px;

  /* Styles from clubouse */
  background: #f7f4e8;
  box-shadow: 0 -1px 1px rgba(0,0,0,.08) inset;
  border-radius: 3px;
  color: #333;
  margin: 0 0 5px;
  padding: 11px 11px 9px;
}
