.page {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 5px 0 5px;
  /*background: #f3f3f3;*/
}

.page header {
  box-sizing: border-box;
  height: 54px;
  width: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;

  border-bottom: 1px solid rgba(39, 38, 53, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px 20px 0 0;

  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.titleAndLoader {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.page section {
  margin-top: 64px;
}

.toggleDoneButton {
  background: transparent;
  border: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  text-align: right;
}

.toggleDoneButton:hover {
  color: #B1E5F2;
}
